[submodule "lib/sdsl-lite"]
	path = lib/sdsl-lite
	url = https://github.com/xxsds/sdsl-lite.git
[submodule "lib/lemon"]
	path = lib/lemon
	url = hg::http://lemon.cs.elte.hu/hg/lemon
[submodule "lib/libbio"]
	path = lib/libbio
	url = https://github.com/tsnorri/libbio.git
