.DS_Store

founder-sequences/config.h
founder-sequences/cmdline.c
founder-sequences/cmdline.h
founder-sequences/founder_sequences

match-sequences-to-founders/config.h
match-sequences-to-founders/cmdline.c
match-sequences-to-founders/cmdline.h
match-sequences-to-founders/match_founder_sequences

insert-identity-columns/config.h
insert-identity-columns/cmdline.c
insert-identity-columns/cmdline.h
insert-identity-columns/insert_identity_columns
insert-identity-columns/main.c

remove-identity-columns/config.h
remove-identity-columns/cmdline.c
remove-identity-columns/cmdline.h
remove-identity-columns/main.c
remove-identity-columns/remove_identity_columns


# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
