[submodule "lib/sdsl-lite"]
	path = lib/sdsl-lite
	url = https://github.com/tsnorri-helsinki-fi/sdsl-lite.git
[submodule "lib/lemon"]
	path = lib/lemon
	url = hg::http://lemon.cs.elte.hu/hg/lemon
[submodule "lib/libbio"]
	path = lib/libbio
	url = https://github.com/tsnorri/libbio.git
[submodule "lib/swift-corelibs-libdispatch"]
	path = lib/swift-corelibs-libdispatch
	url = https://github.com/apple/swift-corelibs-libdispatch.git
[submodule "lib/range-v3"]
	path = lib/range-v3
	url = https://github.com/ericniebler/range-v3.git
